<table class="table table-bordered table-striped table-hover">
    <thead class="thead-light">
        <tr>
            <th>Title</th>
            <th>Note</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        <% @tasks.each do |task| %>
            <tr>
                <td><strong><%= task.title %></strong></td>
                <td><%= task.note.truncate(20) %></td>
                <td><%= task.completed %></td>
            </tr>
        <% end %>
    </tbody>
</table>